@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body {
	margin: 5px;
	background-color: #DDD;
}

li {
	display: block;
	clear: none;
	float: left;
	height: 25px;
	width: auto;
	list-style: none;
}
#divRootMenu {
	display: block;
	clear: both;
	float: left;
	height: 25px;
	width: 890px;
}
#divRootMenu li {
	line-height: 25px;
	display: block;
	padding: 0px 5px;
	clear: none;
	float: left;
	height: 25px;
	width: auto;
}
#divRootMenu .expandable {
	padding-right: 7px;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: right 0px;
}

#dlSelectPanel {
	display: block;
	margin: 15px 5px;
	clear: both;
	float: left;
	height: 30px;
	width: 880px;
}
#dlSelectPanel dt {
	line-height: 30px;
	display: block;
	clear: none;
	float: left;
	height: 30px;
	width: 300px;
}
#dlSelectPanel dt #txtSelectYear {
	text-align: center;
	width: 42px;
	border: 1px solid #666;
}
#dlSelectPanel dt #btnSelectYear {
	height: 16px;
	width: 20px;
}
#dlSelectPanel dd {
	display: block;
	clear: none;
	float: right;
	height: 30px;
	width: 230px;
	line-height: 30px;
}
#dlSelectPanel dd #txtSelectCode {
	width: 125px;
	border: 1px solid #666;
}
#dlClassSelectTab {
	display: block;
	clear: both;
	float: left;
	height: auto;
	width: 890px;
}
#dlClassSelectTab dt {
	display: block;
	clear: both;
	float: left;
	height: 24px;
	width: 100%;
	border-bottom: 1px solid #333;
}
#dlClassSelectTab dt ul {
	clear: both;
	float: left;
	height: 25px;
	width: 100%;
}
#dlClassSelectTab dt ul li {
	display: block;
	clear: none;
	float: left;
	height: 21px;
	width: auto;
	line-height: 21px;
	padding: 0px 5px;
	margin-right: 1px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	margin-top: 2px;
	background-image: url(../img/tab-nav-bg.png);
	background-repeat: repeat-x;
}
#dlClassSelectTab dt ul .selected {
	background-color: #FFF;
	height: 24px;
	margin-top: 0px;
	background-image: none;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #333;
}
#dlClassSelectTab dd {
	display: block;
	clear: both;
	float: left;
	width: 868px;
	background-color: #FFF;
	background-image: none;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	height: 450px;
	padding: 10px;
}
#ulTabContentPanes {
	height: 450px;
	width: 100%;
	display: block;
}
#ulTabContentPanes li {
	display: none;
	clear: both;
	float: left;
	height: 450px;
	width: 100%;
}
#ulTabContentPanes .selected {
	display: block;
}
#ulTabContentPanes li dl {
	display: block;
	clear: both;
	float: left;
	height: 20px;
	width: 170px;
	padding: 0px 0px 5px 0;
	cursor: pointer;
}
#ulTabContentPanes li dl dt {
	line-height: 18px;
	display: block;
	clear: none;
	float: left;
	height: 18px;
	width: 32px;
	padding: 0px 4px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 5px 0 0  5px;
}
#ulTabContentPanes li dl dd,
#ulTabContentPanes li dl dd .divSubMenu dl dd,
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd,
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu dl dd{
	display: block;
	clear: none;
	float: left;
	height: 18px;
	width: 128px;
	line-height: 18px;
	border: none;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 0 5px 5px 0;
	padding: 0;
	background-image: none;
	position: relative;
	text-overflow: ellipsis;
}
#ulTabContentPanes li .expandable dd,
#ulTabContentPanes li dl dd .divSubMenu .expandable dd,
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu .expandable dd,
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu .expandable dd {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: right -28px;
}

#ulTabContentPanes li dl dd .divSubMenu {
	position: absolute;
	right: -192px;
	top: -1px;
	height: auto;
	width: 190px;
}
#ulTabContentPanes li dl dd .divSubMenu2 {
	position: absolute;
	right: -192px;
	top: -1px;
	height: auto;
	width: 190px;
}
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 dl {
	height: 20px;
	padding: 0 0 0 15px;
}
#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 .dlTreeItem1{
	height: 21px;
	padding: 0 0 0 15px;
}

#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 .dlTreeItem1 dt {
	height: 19px;
	border-radius: 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-right: none;
	border-left: 1px solid #333;
}

#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 .dlTreeItem1 dd {
	display:block;
	height: 19px;
	border-radius: 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-left: none;
}

#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 dl dt {
	height: 19px;
	border-radius: 0;
	border-top: none;
	border-bottom: 1px solid #333;
	boider-right: none;
	border-left: 1px solid #333;
}

#ulTabContentPanes li dl dd .divSubMenu dl dd .divSubMenu dl dd .divSubMenu2 dl dd {
	height: 19px;
	border-radius: 0;
	border-top: none;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-left: none;
	background-image: none;
}

#ulTabContentPanes li dl dd .divSubMenu dl{
	display: block;
	clear: both;
	float: left;
	height: 20px;
	width: 176px;
	padding: 0px 0px 5px 15px;
	/*background-image: url(../img/tree-lines.png);*/
	background-repeat: no-repeat;
}
#ulTabContentPanes li dl dd .divSubMenu dl.dlTreeItem1 { background-image: url(../img/tree-lines.png);background-position: 0 -25px; }
#ulTabContentPanes li dl dd .divSubMenu dl.dlTreeItem2 { background-image: url(../img/tree-lines.png);background-position: 0 -50px; }
#ulTabContentPanes li dl dd .divSubMenu dl.dlTreeItem3 { background-image: url(../img/tree-lines.png);background-position: 0 -75px; }
#ulTabContentPanes li dl dd .divSubMenu dl.dlTreeItem4 { background-image: url(../img/tree-lines.png);background-position: 0 -100px; }
#ulTabContentPanes li .expandable dd {
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-position: right -29px;
}

#divForm1123_01_05 .tableListView{
	border-collapse:collapse;
}

#divForm1123_01_05 .tableListView tr {
	border-bottom: 1px solid #CCC;
}

#divForm1123_01_05 dl dt .tableListView .selected {
	background-color: #069;
	color: #FFF;
}

#divForm1123_01_05 .tableListView tr th {
	line-height: 15px;
	font-weight: normal;
	text-align: left;
	height: 15px;
	padding: 5px;
	background-image: url(../img/tableListView-bg.png);
	background-repeat: repeat-x;
}
#divForm1123_01_05 .tableListView tr td {
	line-height: 18px;
	height: 18px;
	padding: 5px;
}
#divForm1123_01_05 {
	height: 255px;
	width: 400px;
}
#divForm1123_01_05 dl {
	display: block;
	margin: 5px;
	clear: both;
	float: left;
	height: 200px;
	width: 390px;
}
#divForm1123_01_05 dl dt {
	display: block;
	clear: none;
	float: left;
	height: 200px;
	width: 305px;
	border: 1px solid #333;
}
#divForm1123_01_05 dl dd {
	display: block;
	clear: none;
	float: right;
	height: 200px;
	width: 60px;
}
#divForm1123_01_05 dl dd a {
	background-image: url(../img/btnBackground48x21.gif);
	background-repeat: no-repeat;
	display: block;
	clear: both;
	height: 21px;
	width: 48px;
	line-height: 20px;
	color: #000;
	text-decoration: none;
	text-align: center;
	margin: 0 5px 10px 5px;
}
#divForm1123_01_05 ul {
	display: block;
	clear: both;
	float: right;
	height: 21px;
	width: 186px;
	margin: 10px 5px;
}
#divForm1123_01_05 ul li {
	display: inline;
	float: left;
	height: 21px;
	width: 73px;
	margin-left: 15px;
	margin-right: 5px;
}
#divForm1123_01_05 ul li a {
	color: #000;
	text-decoration: none;
	background-image: url(../img/btnBackground73x21.gif);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 21px;
	width: 73px;
	text-align: center;
	line-height: 21px;
}
#divForm1123_01_01 {
	clear: both;
	height: 90px;
	width: 245px;
	padding: 5px;
}
#divForm1123_01_01 dl {
	display: block;
	clear: both;
	float: left;
	height: 25px;
	width: 245px;
}
#divForm1123_01_01 dl dt {
	display: block;
	float: left;
	height: 22px;
	width: 60px;
	line-height: 22px;
}
#divForm1123_01_01 dl dd {
	display: block;
	clear: none;
	float: right;
	height: 22px;
	width: 180px;
}
#divForm1123_01_01 dl dd input {
	height: 12px;
	width: 175px;
	border: 1px solid #333;
	padding: 5px;
	border-radius: 5px;
}
#divForm1123_01_01 ul {
	display: block;
	clear: both;
	float: right;
	height: 21px;
	width: 186px;
	margin: 10px 0px;
}
#divForm1123_01_01 ul li {
	display: inline;
	float: left;
	height: 21px;
	width: 73px;
	margin-left: 15px;
	margin-right: 5px;
}
#divForm1123_01_01 ul li a {
	color: #000;
	text-decoration: none;
	background-image: url(../img/btnBackground73x21.gif);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 21px;
	width: 73px;
	text-align: center;
	line-height: 21px;
}
